ServerTokens Prod
ServerSignature Off
TraceEnable Off
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options: "sameorigin"
FileETag None
Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains;"
Header unset ETag
#Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
Header set X-Content-Type-Options nosniff

<DirectoryMatch "/\.git">
  Require all denied
</DirectoryMatch>

<FilesMatch "^(wp-config\.php|php\.ini|php5\.ini|install\.php|php\.info|readme\.md|README\.md|readme\.html|bb-config\.php|\.htaccess|\.htpasswd|readme\.txt|timthumb\.php|error_log|error\.log|PHP_errors\.log|\.svn)">
  Require all denied
</FilesMatch>

#<FilesMatch "\.(json)$">
#  Require all denied
#</FilesMatch>

<FilesMatch "\.(sql)$">
  Require all denied
</FilesMatch>

<FilesMatch "^(xmlrpc\.php)">
  Require all denied
</FilesMatch>